.faq
  .text-center
    h1.hvr-float-shadow FAQ
  .row
    .col-md-3
      h3 What is a Hackathon?
      p A hackathon is a place where the only thing limiting what you build is your own creativity - we'll provide the rest. Stay up for 24 hours with the smartest people you'll ever meet, building the coolest things you have created and chugging more soda than you ever thought possible. You pitch ideas, form teams, and build a cool app or game in 24 hours! The best projects will even be rewarded with prizes.
    .col-md-3
      h3 What should I create?
      p You can build whatever you can dream of, whether that be a website with an amazing feature, a phone app, or a cool rad piece of hardware. All code must be written during the hackathon itself. Impress us!
    .col-md-3
      h3 How much does this cost?
      p This event is completely free. Meals and snacks are provided the entire event. All you need to worry about is learning and building. We'll take care of the rest. Unfortunately though, we will not be providing travel reimbursement.
    .col-md-3
      h3 Where will I sleep?
      p If you plan to sleep, you may sleep anywhere in the workplace or in a designated room. Remember to bring a sleeping bag!

.row
  .col-md-3
    h3 Are there any age requirements?
    p The event is open to all high school and college students. Middle school students who can behave independently may be allowed on a case-by-case basis.
  .col-md-3
    h3 What should I bring?
    p Bring your laptop and mouse! If you're planning on sleeping, bring a sleeping bag, pillow, and toothbrush. Desktop PCs and monitors are also allowed, although less common. Also bring school ID.
  .col-md-3
    h3 I don't know how to code!
    p No problem! Part of the fun is learning how to program when working with other people. We'll also provide some great workshops that you can attend. Or you can always just hang out and have fun!
  .col-md-3
    h3 Will there be food?
    p Yes! Lunch, dinner, midnight snacks, and breakfast - including vegetarian options are included with your ticket!
