.hero-unit
  img.img-responsive(src="img/logo.png" alt="Hack The Gold's Logo")

.info.text-center
  h1 24 Hours
  h1 5 Hackers, INCREDIBLE PRIZES
  h1 ALL MEALS AND SNACKS PROVIDED
  h6 It's all happening March 25-26, noon-noon at Eldarado HS.
  h6 Come join us, you won't want to miss it.
