.schedule.text-center
  h1 Schedule
  .container
    .row
      #saturday.col-xs-12.col-sm-6.col-md-6.col-lg-6
        .row
          .schedule-head.col-xs-12.col-sm-12.col-md-12.col-lg-12
            h2 Saturday
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h3 5PM
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              h5 Registration opens
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h3 6PM
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              h5 Kick-off
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h3 7PM
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              h5 Dinner
      #sunday.col-xs-12.col-sm-6.col-md-6.col-lg-6
        .row
          .schedule-head.col-xs-12.col-sm-12.col-md-12.col-lg-12
            h2 Sunday
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h3 1PM
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              h5 Lunch
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h3 6PM
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              h5 Final Demos and Awards
          .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
              h3 7PM
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
              h5 Closing ceremony
