.schedule.text-center
  h1 Schedule
  .row
    .col-md-6
      h2 Saturday
      p
        span.text-muted 7am 
        | Doors open
      p
        span.text-muted 11am
        | Do stuff
      p
        span.text-muted 3pm
        | Snacks
    .col-md-6
      h2 Sunday
      p
        span.text-muted 12am 
        | Midnight Snack
      p
        span.text-muted 7am
        | Award Ceremoney
      p
        span.text-muted 11am
        | Leave
