.share.text-center
  h1 Make us viral
  .row
    .col-md-6
      h1
        a(href="https://www.facebook.com/hackthegold"): span.fa.fa-4x.fa-facebook-square
    .col-md-6
      h1
        a(href="https://www.twitter.com/hackthegold"): span.fa.fa-4x.fa-twitter-square
